Repository wonby1n/HearO: changes, and which Jenkins stages are due for each by the changed paths.
All: Infra Setup, Backend, Frontend

Path conditions:
  Infra Setup: any of: infra/**
  Backend: any of: backend/**
  Frontend: any of: frontend/**

[fix]: 폭언 종료 pinia 수정
  frontend/src/views/client/ClientCallView.vue
  frontend/src/views/counselor/CounselorCallView.vue
Due: Frontend

[fix] : 통화 3회 자동 종료 안내멘트
  frontend/src/assets/Endvoice.wav
  frontend/src/stores/dashboard.js
  frontend/src/views/client/ClientCallView.vue
Due: Frontend

[fix]: 강제 종료 시 로직 수정
  frontend/src/components/client/ClientVerificationForm.vue
  frontend/src/views/client/ClientCallEndView.vue
  frontend/src/views/client/ClientReconnectView.vue
Due: Frontend

[fix]: 폭언 종료 이후 마이크 제거
  frontend/src/views/client/ClientCallView.vue
  frontend/vite.config.js
Due: Frontend

[fix]: 마스킹 처리시 삐-소리 추가
  frontend/src/views/counselor/CounselorCallView.vue
  frontend/vite.config.js
Due: Frontend

[chore] : 아무 고객 -> 등록된 고객만, jwt시간시연용
  backend/src/main/java/com/ssafy/hearo/domain/auth/service/AuthServiceImpl.java
  backend/src/main/resources/application-prod.yaml
Due: Backend

[fix] : 통화화면 상담이력 최신 3개 관련 이슈 해결
  backend/src/main/java/com/ssafy/hearo/domain/consultation/repository/ConsultationRepository.java
  backend/src/main/java/com/ssafy/hearo/domain/consultation/service/ConsultationServiceImpl.java
Due: Backend

[fix] : 통화화면 상담이력 최신 3개 관련 이슈 해결 V2
  backend/src/main/java/com/ssafy/hearo/domain/consultation/repository/ConsultationRepository.java
  backend/src/main/java/com/ssafy/hearo/domain/consultation/service/ConsultationServiceImpl.java
Due: Backend

[chore] dump 파일 추가
  exec/hearo_dump.sql
Due: none

[chore] porting manual 업로드
  exec/Porting_Manual.md
  exec/images/image 1.png
  exec/images/image 10.png
  exec/images/image 11.png
  exec/images/image 12.png
  exec/images/image 13.png
  exec/images/image 14.png
  exec/images/image 15.png
  exec/images/image 16.png
  exec/images/image 17.png
  exec/images/image 18.png
  exec/images/image 19.png
  exec/images/image 2.png
  exec/images/image 20.png
  exec/images/image 21.png
  exec/images/image 3.png
  exec/images/image 4.png
  exec/images/image 5.png
  exec/images/image 6.png
  exec/images/image 7.png
  exec/images/image 8.png
  exec/images/image 9.png
  exec/images/image.png
Due: none

[chore] 마크다운 문법 수정
  exec/Porting_Manual.md
Due: none

[chore]: 포팅매뉴얼 jenkins 내용 추가
  exec/Porting_Manual.md
Due: none

[chore]: testuser 생성
  backend/src/main/java/com/ssafy/hearo/domain/auth/service/AuthServiceImpl.java
  backend/src/main/java/com/ssafy/hearo/domain/consultation/service/ConsultationServiceImpl.java
Due: Backend

[chore] 소개 영상 추가
  README.md
  docs/Photo/HearO_thumbnail2.png
Due: none

[chore] 이미지 엑박 수정
  README.md
Due: none

[chore] 고객 통화 화면 추가
  README.md
  docs/Photo/image-6-2.png
Due: none

일렉트론 관련 파일 추가
  frontend/electron/assets/icon.ico
  frontend/electron/assets/icon.png
  frontend/electron/main.cjs
  frontend/electron/proxyServer.cjs
  frontend/electron/splash.html
  frontend/package.json
  frontend/src/composables/useMatchingNotification.js
  frontend/src/main.js
  frontend/src/router/index.js
  frontend/src/utils/runtimeBase.js
  frontend/vite.config.js
Due: Frontend

Update team member section in README.md
  README.md
Due: none

[fix] 상담 수정 API 권한 검증 및 평점 upsert 트랜잭션 오류 수정
  backend/src/main/java/com/ssafy/hearo/domain/auth/service/AuthServiceImpl.java
  backend/src/main/java/com/ssafy/hearo/domain/consultation/controller/ConsultationController.java
  backend/src/main/java/com/ssafy/hearo/domain/consultation/service/ConsultationRatingService.java
  backend/src/main/java/com/ssafy/hearo/domain/consultation/service/ConsultationService.java
  backend/src/main/java/com/ssafy/hearo/domain/consultation/service/ConsultationServiceImpl.java
  backend/src/main/java/com/ssafy/hearo/global/config/SecurityConfig.java
Due: Backend

[docs] README 정리 및 package-lock 동기화
  README.md
  frontend/README.md
  frontend/package-lock.json
Due: Frontend

[fix] 통화 이력 메모를 userMemo 하나로 통합
  backend/src/main/java/com/ssafy/hearo/domain/consultation/dto/ConsultationListResponse.java
  frontend/src/components/counselor/CallHistoryTable.vue
Due: Backend, Frontend

[refactor] 상담원 통화 화면 로직 분리 및 종료 흐름 통합
  frontend/src/composables/useDelayedCustomerAudio.js
  frontend/src/composables/useMemoDraft.js
  frontend/src/services/toxicityService.js
  frontend/src/views/counselor/CounselorCallView.vue
Due: Frontend

[refactor] 미사용 코드 제거 및 API 서비스 정리
  frontend/src/components/alert/RestRecommendModal.vue
  frontend/src/components/alert/RestRecommendModalExample.vue
  frontend/src/components/client/ClientCallControls.vue
  frontend/src/components/notification/NotificationExample.vue
  frontend/src/components/notification/README.md
  frontend/src/composables/README.md
  frontend/src/composables/useAudioStream.js
  frontend/src/composables/useVoiceCall.js
  frontend/src/composables/useWebSocket.js
  frontend/src/router/index.js
  frontend/src/services/README.md
  frontend/src/services/aiService.js
  frontend/src/services/consultationService.js
  frontend/src/services/livekitService.js
  frontend/src/services/stt/sttEngine.js
  frontend/src/services/stt/webSpeechEngine.js
  frontend/src/services/sttService.js
  frontend/src/views/client/ClientCallIssueView.vue
  frontend/src/views/client/ClientCallView.vue
  frontend/test/CustomerRTC.vue
  frontend/test/TestRTC.vue
Due: Frontend

[refactor] 프론트 접속 주소 설정 정리 및 운영 빌드 로그 제거
  frontend/README.md
  frontend/src/utils/runtimeBase.js
  frontend/src/views/client/ClientWaitingView.vue
  frontend/vite.config.js
Due: Frontend

[refactor] 서비스 예외를 전용 예외로 교체하고 최근 상담 조회 조건 수정
  backend/src/main/java/com/ssafy/hearo/domain/ai/controller/ConsultationAiController.java
  backend/src/main/java/com/ssafy/hearo/domain/consultation/repository/ConsultationRepository.java
  backend/src/main/java/com/ssafy/hearo/domain/consultation/service/ConsultationRatingService.java
  backend/src/main/java/com/ssafy/hearo/domain/consultation/service/ConsultationServiceImpl.java
  backend/src/main/java/com/ssafy/hearo/domain/customer/service/BlacklistService.java
  backend/src/main/java/com/ssafy/hearo/domain/dashboard/service/DashboardService.java
  backend/src/main/java/com/ssafy/hearo/domain/todo/service/TodoService.java
  backend/src/main/java/com/ssafy/hearo/domain/user/service/UserStateService.java
  backend/src/main/java/com/ssafy/hearo/global/exception/GlobalExceptionHandler.java
  backend/src/test/java/com/ssafy/hearo/global/exception/ExceptionHandlerTest.java
Due: Backend

[refactor] 대기열 pop을 ZPOPMIN으로 원자화하고 QueueServiceImpl 정리
  backend/src/main/java/com/ssafy/hearo/domain/queue/service/QueueServiceImpl.java
  backend/src/test/java/com/ssafy/hearo/domain/queue/service/QueueServiceIntegrationTest.java
Due: Backend

[perf] AI 서버 Whisper 모델 지연 로딩
  ai/app.py
Due: none
