Repository wonby1n/HearO: changes, and which Jenkins stages are due for each by the changed paths.
All: Infra Setup, Backend, Frontend

Path conditions:
  Infra Setup: any of: infra/**
  Backend: any of: backend/**
  Frontend: any of: frontend/**

[chore] S14P11E106-320 INFRA-T04: mm알림 봇 생성
  Jenkinsfile
Due: none

[chore] S14P11E106-320 INFRA-T04: 오타 수정
  Jenkinsfile
Due: none

[chore]: 파이프라인 작동 테스트
  backend/src/main/java/com/ssafy/hearo/domain/auth/controller/AuthController.java
Due: Backend

[chore]: mm 알림 멘트 수정
  Jenkinsfile
Due: none

[chore]: mm 알림 테스트
  backend/src/main/java/com/ssafy/hearo/domain/auth/controller/AuthController.java
Due: Backend

[chore] : 알림 멘트 수정
  frontend/src/views/auth/LoginView.vue
Due: Frontend

[feat] S14P11E106-442 S14P11E106-457 #done: 고객 만족도 조사페이지 이동, 재연결 버튼
  frontend/src/router/index.js
  frontend/src/views/client/ClientCallEndView.vue
  frontend/src/views/client/ClientCallIssueView.vue
  frontend/src/views/client/ClientCallView.vue
  frontend/src/views/client/ClientFinalView.vue
  frontend/src/views/client/ClientReviewView.vue
Due: Frontend

S14P11E106-358 S14P11E106-359 S14P11E106-357 S14P11E106-469 S14P11E106-470 S14P11E106-471 S14P11E106-472 : 대기열 & 매칭 시스템 v1
  backend/build.gradle
  backend/src/main/java/com/ssafy/hearo/domain/customer/repository/BlacklistRepository.java
  backend/src/main/java/com/ssafy/hearo/domain/matching/controller/CounselorController.java
  backend/src/main/java/com/ssafy/hearo/domain/matching/dto/MatchingResult.java
  backend/src/main/java/com/ssafy/hearo/domain/matching/service/CounselorAvailabilityService.java
  backend/src/main/java/com/ssafy/hearo/domain/matching/service/MatchingScheduler.java
  backend/src/main/java/com/ssafy/hearo/domain/queue/controller/QueueController.java
  backend/src/main/java/com/ssafy/hearo/domain/queue/dto/QueueStatusResponse.java
  backend/src/main/java/com/ssafy/hearo/domain/queue/dto/QueueUpdateMessage.java
  backend/src/main/java/com/ssafy/hearo/domain/queue/dto/RegistrationRequest.java
  backend/src/main/java/com/ssafy/hearo/domain/queue/dto/RegistrationResponse.java
  backend/src/main/java/com/ssafy/hearo/domain/queue/service/QueueEventPublisher.java
  backend/src/main/java/com/ssafy/hearo/domain/queue/service/QueueService.java
  backend/src/main/java/com/ssafy/hearo/domain/queue/service/QueueServiceImpl.java
  backend/src/main/java/com/ssafy/hearo/domain/queue/websocket/QueueHandshakeInterceptor.java
  backend/src/main/java/com/ssafy/hearo/domain/queue/websocket/QueueWebSocketHandler.java
  backend/src/main/java/com/ssafy/hearo/domain/user/repository/UserRepository.java
  backend/src/main/java/com/ssafy/hearo/global/config/AsyncConfig.java
  backend/src/main/java/com/ssafy/hearo/global/config/SchedulingConfig.java
  backend/src/main/java/com/ssafy/hearo/global/config/SecurityConfig.java
  backend/src/main/java/com/ssafy/hearo/global/config/WebSocketConfig.java
  backend/src/main/java/com/ssafy/hearo/global/util/MockUserIdExtractor.java
  backend/src/main/java/com/ssafy/hearo/infra/redis/RedisConfig.java
  backend/src/test/java/com/ssafy/hearo/domain/matching/controller/CounselorControllerIntegrationTest.java
  backend/src/test/java/com/ssafy/hearo/domain/matching/service/CounselorAvailabilityServiceTest.java
  backend/src/test/java/com/ssafy/hearo/domain/matching/service/MatchingSchedulerTest.java
  backend/src/test/java/com/ssafy/hearo/domain/queue/controller/QueueControllerIntegrationTest.java
  backend/src/test/java/com/ssafy/hearo/domain/queue/service/QueueServiceIntegrationTest.java
  backend/src/test/java/com/ssafy/hearo/domain/queue/websocket/QueueWebSocketIntegrationTest.java
Due: Backend

[docs]: MR Template 수정
  .gitlab/merge_request_templates/Default.md
Due: none

[chore] : 로그인 미구현으로 주석처리
  frontend/src/router/index.js
Due: Frontend

chore: add .tldr to gitignore
  .gitignore
Due: none

fix: ClientReviewView try-catch 블록 누락 수정
  frontend/src/views/client/ClientReviewView.vue
Due: Frontend

[chore]: jenkins 스크립트 수정
  Jenkinsfile
Due: none

[chore]: 주석처리 코드 삭제 및 재연결 시 대기화면으로 이동하도록 수정
  frontend/src/views/client/ClientCallEndView.vue
  frontend/src/views/client/ClientCallView.vue
  frontend/src/views/client/ClientReviewView.vue
Due: Frontend

[chore]: 알림 테스트
  backend/src/main/java/com/ssafy/hearo/domain/auth/controller/AuthController.java
Due: Backend

[chore] jenkins script 수정
  Jenkinsfile
Due: none

[chore] 알림 테스트
  backend/src/main/java/com/ssafy/hearo/domain/auth/controller/AuthController.java
Due: Backend

[feat] S14P11E106-352 #done: 대기 시 ARS 음성 안내
  frontend/src/assets/ARSvoice.mp3
  frontend/src/views/client/ClientWaitingView.vue
Due: Frontend

[feat] S14P11E106-449 S14P11E106-450 S14P11E106-451: 폭언 3회 자동 종료 구현
  docs/코딩컨벤션.md
  frontend/src/components/call/AutoTerminationModal.vue
  frontend/src/constants/call.js
  frontend/src/stores/call.js
  frontend/src/stores/notification.js
  frontend/src/views/client/ClientCallEndView.vue
  frontend/src/views/client/ClientCallView.vue
  frontend/src/views/counselor/CounselorCallView.vue
Due: Frontend

[feat] S14P11E106-335 S14P11E106-336 #done: heartbeat 엔드포인트 및 상태 갱신 로직 구현 완료
  backend/src/main/java/com/ssafy/hearo/domain/user/dto/HeartbeatRequest.java
  backend/src/main/java/com/ssafy/hearo/domain/user/service/HeartbeatService.java
  backend/src/main/java/com/ssafy/hearo/domain/user/service/HeartbeatServiceImpl.java
  backend/src/test/java/com/ssafy/hearo/domain/user/service/HeartbeatServiceTest.java
Due: Backend

[feat] S14P11E106-115 S14P11E106-123 S14P11E106-279 #done: 로그인 api 및 jwt 관련 구현 완료
  backend/src/main/java/com/ssafy/hearo/domain/auth/controller/AuthController.java
  backend/src/main/java/com/ssafy/hearo/domain/auth/dto/LoginRequest.java
  backend/src/main/java/com/ssafy/hearo/domain/auth/dto/LoginResponse.java
  backend/src/main/java/com/ssafy/hearo/domain/auth/dto/RefreshResponse.java
  backend/src/main/java/com/ssafy/hearo/domain/auth/service/AuthService.java
  backend/src/main/java/com/ssafy/hearo/domain/auth/service/AuthServiceImpl.java
  backend/src/main/java/com/ssafy/hearo/domain/user/controller/UserController.java
  backend/src/main/java/com/ssafy/hearo/global/config/SecurityConfig.java
  backend/src/main/java/com/ssafy/hearo/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/ssafy/hearo/global/security/CustomUserDetails.java
  backend/src/main/java/com/ssafy/hearo/global/security/CustomUserDetailsService.java
  backend/src/main/java/com/ssafy/hearo/global/security/jwt/JwtAuthenticationFilter.java
  backend/src/main/java/com/ssafy/hearo/global/security/jwt/JwtProperties.java
  backend/src/main/java/com/ssafy/hearo/global/security/jwt/JwtTokenProvider.java
  backend/src/test/java/com/ssafy/hearo/domain/auth/controller/AuthControllerIntegrationTest.java
  backend/src/test/java/com/ssafy/hearo/domain/user/controller/UserControllerIntegrationTest.java
  backend/src/test/resources/application-test.yaml
Due: Backend

[chore] : heartbeat 로직 수정
  frontend/src/components/dashboard/DashboardHeader.vue
Due: Frontend

[fix]: 고객 통화 화면 개발 모드 추가
  frontend/src/views/client/ClientCallView.vue
Due: Frontend

[chore] : 리뷰에 따른 heartbeat 로직 수정
  frontend/src/components/dashboard/DashboardHeader.vue
Due: Frontend

[fix] S14P11E106-352 CUST-S06: ARS 음성 메모리 관리 및 접근성 개선
  frontend/src/views/client/ClientWaitingView.vue
Due: Frontend

[chore] : 삭제됐던 코드 구현
  frontend/src/components/dashboard/DashboardHeader.vue
Due: Frontend

[chore] : 차트 디자인 수정, 새로고침 버튼 추가
  frontend/src/components/dashboard/StressChart.vue
Due: Frontend

[chore] : 빠진 코드 수정
  frontend/src/components/dashboard/StressChart.vue
Due: Frontend

[chore] : 코드리뷰 피드백 반영
  frontend/src/components/dashboard/StressChart.vue
Due: Frontend

[chore] : 웹소켓, 하트비트, 대기열 관리, 매칭 테스트 추가,// 환경 설정 수정 , jwt 추가로 인한 리팩토링 ,gitignore 수정
  .gitignore
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/com/ssafy/hearo/domain/matching/controller/CounselorController.java
  backend/src/main/java/com/ssafy/hearo/domain/matching/service/CounselorAvailabilityService.java
  backend/src/main/java/com/ssafy/hearo/domain/matching/service/MatchingScheduler.java
  backend/src/main/java/com/ssafy/hearo/domain/queue/websocket/QueueWebSocketHandler.java
  backend/src/main/java/com/ssafy/hearo/domain/user/service/HeartbeatServiceImpl.java
  backend/src/main/java/com/ssafy/hearo/global/config/WebSocketConfig.java
  backend/src/main/java/com/ssafy/hearo/global/util/MockUserIdExtractor.java
  backend/src/main/resources/application-dev.yaml
  backend/src/main/resources/application-prod.yaml
  backend/src/main/resources/application.yaml
  backend/src/test/java/com/ssafy/hearo/HearoApplicationTests.java
  backend/src/test/java/com/ssafy/hearo/domain/matching/controller/CounselorControllerIntegrationTest.java
  backend/src/test/java/com/ssafy/hearo/domain/matching/service/MatchingSchedulerTest.java
  backend/src/test/java/com/ssafy/hearo/domain/queue/controller/QueueControllerIntegrationTest.java
  backend/src/test/java/com/ssafy/hearo/domain/queue/websocket/QueueWebSocketIntegrationTest.java
Due: Backend

[feat] : ux/ui 개선
  frontend/src/components/dashboard/DashboardHeader.vue
  frontend/src/components/dashboard/StatsCard.vue
  frontend/src/components/dashboard/StressChart.vue
  frontend/src/components/dashboard/TodoList.vue
  frontend/src/components/dashboard/WeeklyPerformanceChart.vue
  frontend/src/components/layout/AppSidebar.vue
Due: Frontend

[feat] S14P11E106-449-450-451 #done: 통화 종료 모달 공통화 및 정상 종료 모달 추가
  frontend/src/components/call/CallEndModalContent.vue
  frontend/src/components/call/ManualEndCallModal.vue
  frontend/src/components/counselor/CounselorCallControls.vue
  frontend/src/views/counselor/CounselorCallView.vue
Due: Frontend

[chore] : login 주소 v1 추가
  frontend/src/stores/auth.js
Due: Frontend

[chore] 백엔드 서버 구동 후 에러 발생 시 배포 실패 적용
  Jenkinsfile
Due: none

[feat] S14P11E106-410 DASH-S08: 대시보드 api 초안 작성
  backend/src/main/java/com/ssafy/hearo/domain/consultation/repository/ConsultationRatingRepository.java
  backend/src/main/java/com/ssafy/hearo/domain/consultation/repository/ConsultationRepository.java
  backend/src/main/java/com/ssafy/hearo/domain/dashboard/controller/DashboardController.java
  backend/src/main/java/com/ssafy/hearo/domain/dashboard/dto/DashboardSummaryResponse.java
  backend/src/main/java/com/ssafy/hearo/domain/dashboard/dto/WeeklyChartDto.java
  backend/src/main/java/com/ssafy/hearo/domain/dashboard/service/DashboardService.java
  backend/src/main/java/com/ssafy/hearo/domain/todo/entity/Todo.java
  backend/src/main/java/com/ssafy/hearo/global/common/response/BaseResponse.java
Due: Backend

[feat] S14P11E106-465-466-467 #done: 대기화면 실시간 갱신 WS 정리 및 재연결 처리
  frontend/src/views/client/ClientWaitingView.vue
Due: Frontend

[chore]: 주석 입력 오류 부분 수정
  frontend/src/components/counselor/CounselorCallControls.vue
Due: Frontend

[feat] S14P11E106-410 DASH-S09: test user 생성
  backend/src/main/java/com/ssafy/hearo/global/init/TestDataInit.java
Due: Backend

[feat] S14P11E106-410 DASH-S09: 불필요 데이터 삭제
  backend/src/main/java/com/ssafy/hearo/domain/dashboard/dto/DashboardSummaryResponse.java
  backend/src/main/java/com/ssafy/hearo/domain/dashboard/service/DashboardService.java
Due: Backend

[chore] : 로그인 로직 구현
  frontend/default.conf
  frontend/src/components/dashboard/DashboardHeader.vue
  frontend/src/stores/auth.js
  frontend/vite.config.js
Due: Frontend
